<% provide :title, t("pages.help.help_title") %>
<h1><%= t("pages.help.help1")%></h1>
<h3>
  <%= t("pages.help.intro_of_help1", href: link_to(t("pages.help.rails_tutorial_help_page"), t("pages.help.link_path1"))).html_safe %>.
  <%= t("pages.help.intro_of_help2", href: link_to(t("pages.help.ruby_on_rails_tutorial"), t("pages.help.link_path2"))).html_safe %>
</h3>
