<% provide :title, t("pages.home.home_title") %>
<div class="center jumbotron">
  <h1><%= t "pages.home.welcome_to_the_sample_app"%></h1>
  <h2>
    <%= t("pages.home.this_is_the_home_page", link: link_to(t("pages.home.ruby_on_rails_tutorial"),
    "http://www.railstutorial.org/")).html_safe %>
  </h2>
  <%= link_to t("pages.home.sign_up_now"), "", class: "btn btn-lg btn-primary" %>
</div>
